/* .splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bgColor); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeOut 2.3s ease forwards;
  }
  
  .splash-logo{
    color: var(--mainTextColor);
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
    animation: fadeIn 1.2s ease forwards;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
  } */
  .splash-screen {
    background-color: var(--bgColor); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.8s ease;
  }
  .splash-logo {
    color: var(--mainTextColor);
    width: 350px;
    animation: scaleUp 2s ease-in-out;
  }
  @keyframes scaleUp {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }